/* *** CSS RESET *** */

:focus {outline: 0}
a {outline: none; text-decoration: none;}
a, img {border: 0;}
button {cursor: pointer;}

/* *** GLOBAL *** */

.bx-wrapper {
    z-index: 1;
}

iframe {
    border: none;
}

body h1, body h2, body h3, body h4, body h5, body h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    margin-top: 0;
}

body p {
    margin-bottom: 25px;
    margin-top: 0;    
}

body h2 {
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 0;
}

body ul {
    margin-bottom: 25px;
    padding-left: 16px;
    margin-top: 0;
}

body ol {
    padding-left: 20px;
    margin-bottom: 25px;
    margin-top: 0;
}

body .bx-wrapper {
    padding: 0;
    border: none;
}

body {
    overflow-x: hidden;
}

figure {
    margin: 0;
}

body a:hover {
    text-decoration: none;
}

input, textarea, button {
    font-family: arial;
}

body {
    font-family: 'Cambay', sans-serif;
    font-size: 18px;
    color: #1a1a1a;
    background: #fff;
    line-height: 1.5;
    padding-top: 100px;
    min-width: 302px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}

a, a:hover, a:focus, a:active {
    outline: none !important;
    text-decoration: none;
}

.hamburger, .hamburger:focus, .hamburger:active {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

body .hamburger-inner, body .hamburger-inner::before, body .hamburger-inner::after {
    height: 2px;
}

body .bx-wrapper .bx-controls-auto, body .bx-wrapper .bx-pager {
    position: relative;
    bottom: auto;
    width: auto;
}

.clearer {
    clear: both;
    height: 0;
}

.chosen-container-single .chosen-single div b {
    background: none;
}

.logo, img, a, button {
    -webkit-transition: 0.15s linear;
    -moz-transition: 0.15s linear;
    -ms-transition: 0.15s linear;
    -o-transition: 0.15s linear;
    transition: 0.15s linear;
}

.bx-caption {
    display: none;
}

.bx-wrapper {
    box-shadow: none;
    border: 0;
    margin: 0;
    background:transparent;    
}

.content-box {
    float: left;
    width: 100%;
}

/* *** HEADER *** */

header {
    background: #fff;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    height: 100px;
    border-bottom: 2px solid #c9c3c3;
    float: left;
    width: 100%;
}

.header-box {
    float: left;
    width: 100%;
    padding: 20px 0;
}

header .logo {
    float: left;
}

header .logo img {
    float: left;
}

.menu-box {
    position: fixed;
    top: 0;
    right: 0;
    float: left;
    width: 444px;
    background: #fff;
    height: 100%;
    overflow: auto;
    padding-top: 98px;
    z-index: 10;
    box-shadow: 0 0 10px #c9c3c3;
    -webkit-transition: 0.35s linear;
    -moz-transition: 0.35s linear;
    -ms-transition: 0.35s linear;
    -o-transition: 0.35s linear;
    transition: 0.35s linear;
    right: -444px;
}

.menu-box.active {
    right: 0;
}

.main-menu ul {
    padding: 0;
    margin: 0;
}

.main-menu {
    float: left;
    width: 100%;
    border-top: 2px solid #c9c3c3;
}

.main-menu > ul > li {
    position: relative;
    float: left;
    width: 100%;
    list-style: none;
    border-bottom: 1px solid #c9c3c3;
}

.main-menu > ul > li > a {
    color: #000;
    display: block;
    float: left;
    width: 100%;
    padding: 0 40px;
    font-size: 35px;
    padding-top: 13px;
}

.main-menu > ul > li:hover > a, .main-menu > ul > .current > a {
    color: #000;
    background: #c9c3c3;
}

.main-menu ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
    list-style: none; 
    width: 305px;
    background: #cacaca;  
    display: none;     
}

.main-menu ul ul li {
    position: relative;
    float: left;
    width: 100%;
}

.main-menu ul ul li a {
    position: relative;
    color: #1c2f59;
    text-align: left;
    display: block;
    padding: 11px 15px;
    float: left;
    width: 100%; 
    font-size: 14px;
}

.main-menu ul ul li:hover > a {
    background: red;
    color: #fff;
}

.main-menu ul ul ul {
    left: 100%;
    top: 0;
}

.main-menu .hoverIn {
    display: block;
}

.main-menu .hoverOut {
    display: none;
}

/* *** BANNER *** */

.banner-box {
    float: left;
    width: 100%;
}

.banner-box img {
    display: block;
}

.banner {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-top: 25px;
}

.banner figure {
    margin: 0;
    border: 1px solid #010101;    
}

.banner ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    width: 100%;
}

.banner ul li {
    position: relative;
    float: left;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner .bx-controls-direction {
    display: none;
}

.banner .bx-controls {
    display: block;
}

.banner .description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: red;
    padding: 20px 10px;
    color: #fff;
}

.banner a {
    color: #fff;
}

.banner h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.banner a:hover {
    color: blue;
}

.banner .prev-box, .banner .next-box {
    position: absolute;
    top: 0;
    width: 24px;
    height: 12px;
    z-index: 1000;
}

.banner .prev-box {
    left: 0;    
}

.banner .next-box {
    right: 0;    
}

.banner .bx-prev, .banner .bx-next {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    float: left;
    display: block;
    text-indent: -9999999px;
}

.banner .bx-prev {
    background: url('../img/icons/img02.png') 0 0 no-repeat;   
}

.banner .bx-next {
    background: url('../img/icons/img03.png') 0 0 no-repeat;   
}

.banner .prev-box:hover, .banner .next-box:hover {
    opacity: 0.90;
    filter: alpha(opacity = 90);
}

.banner .bx-controls {
    width: 100%;
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 100;
    text-align: center;
    bottom: 0;
    right: auto;
}

.banner .bx-pager {
    float: none;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin-top: 25px;
}

.banner .bx-pager .bx-pager-item {
    float: left;
    margin-right: 0;
}

.banner .bx-pager .bx-pager-item a {
    float: left;
    margin: 0 8px;
    text-indent: -99999px;    
    display: block;
    width: 17px;
    height: 17px;
    background: #fff;
    border: 1px solid #c9c3c3;
    -webkit-border-radius: 50%;  
    -moz-border-radius: 50%;  
    border-radius: 50%;
    background-position: center center;
}

.banner .bx-pager .bx-pager-item .active, .banner .bx-pager .bx-pager-item a:hover{
    background: url('../img/icons/img01.png') center center no-repeat !important;    
}

body, html {
    height: 100%;
}

.banner-full-screen {
    width: 100%;
    height: 100%;
}

.banner-full-screen .banner, .banner-full-screen .bx-wrapper, .banner-full-screen .bx-viewport, .banner-full-screen ul, .banner-full-screen li {
    height: 100% !important;
}

.banner-full-screen {
    height: 100%;
}

.controls-1 {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 240px;
    margin-left: -120px;
}

/* *** HOME *** */

.banner {
    margin-bottom: 30px;
}

.title-1 {
    text-align: center;
    margin-bottom: 15px;
}

.title-1 h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
}

.boxes-1 {
    float: left;
    width: 100%;
    margin-bottom: -30px;
}

.boxes-1 .row-box {
    margin-left: -15px;
    margin-right: -15px;
}

.boxes-1 .col-box {
    width: 30%;
    float: left;
    padding: 0 15px;
    margin-bottom: 30px;
}
.boxes-1 .col-box2 {
    width: 20%;
    float: left;
    padding: 0 15px;
    margin-bottom: 30px;
}
.box-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    height: 160px;
    background: #feeeef;
}

.box-1 img {
    transition: all .2s ease-in-out;
}

.box-1:hover img {
    transform: scale(0.9);
}

.main-content {
    float: left;
    width: 100%;
    padding-bottom: 30px;
}

/* *** FOOTER *** */

footer {
    float: left;
    width: 100%;
    text-align: center;
    background: #fff;
    color: #000;
    font-size: 14px;
    padding: 30px 0;
}

.scroll-top {
    display: inline-block;
    vertical-align: top;
    color: #E1000F;
    padding-top: 55px;
    background: url('../img/icons/img04.png') center top no-repeat;
    font-size: 18px;
}

.scroll-top:hover {
    color: #E1000F;
    opacity: 0.8;
}

/* *** CUSTOM SELECT *** */

.select {
    width: 100%;
    float: left;
}

.select .chosen-container {
    width: 100% !important;
}

.select ul {
    margin: 0 4px 4px 0 !important;
    padding: 0 0 0 4px !important;
}

.select .chosen-search {
    display: none;
}

.select .chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 0 0 0 10px;
    height: 29px;
    border: none;
    border-radius: 0;
    background: #fff;
    border: 1px solid #aaa;
    box-shadow: none;
    color: #000;
    font-size: 14px;  
    text-decoration: none;
    white-space: nowrap;
    line-height: 27px;
}

.select .chosen-drop ul li {
    background-image: none !important;
    height: auto !important;
}

.select .chosen-container-single .chosen-single div {
    width: 32px;
    /*background: url('../img/select-arrow.png') center no-repeat;*/
}

.select .chosen-container .chosen-results li.active-result {
    background: #fff;
    color: #000;
}

.select .chosen-container .chosen-results li:hover {
    background: #ec008d;
    color: #fff;
}

/* *** MAP *** */

.map-box {
    float: left;
    width: 100%;
    height: 400px;
}

.map-box img {
    max-width: none;
    max-height: none;
}

#map-canvas {
    float: left;
    width: 100%;
    height: 100%;
}

/* *** MENU RSP *** */

.header-rsp {
    top: 0;
    left: 0;
    position: fixed;
    overflow: auto;
    z-index: 101;
    width: 100%;
    padding: 10px 15px;
    height: 70px;
    background: #fff;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
    display: none;
}

.header-rsp .logo-rsp {
    height: 50px;
    width: 140px;
    display: table-cell;
    vertical-align: middle;
}

.header-rsp .logo-rsp img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: -3px;
}

.hamburger {
    position: relative;
    top: auto;
    right: auto;
    float: right;
    margin-right: -15px;
    margin-top: 2px;
}

body .hamburger-inner, body .hamburger-inner::before, body .hamburger-inner::after {
    height: 4px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background: #000000;
}

.data-rsp {
    position: absolute;
    top: 27px;
    right: 70px;
}

.data-rsp a {
    font-size: 11px;    
}

.menu-rsp {
    width: 100%;
    position: fixed;
    padding-top: 70px;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    float: right;
    height: 100%;
    display: none;      
}

.menu-rsp  .opacity-rsp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    opacity: 0.4;
}

.menu-rsp nav {
    float: left;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.menu-rsp > nav > ul:first-child {
    -webkit-box-shadow: #666 0px 2px 3px;
    -moz-box-shadow: #666 0px 2px 3px;
    box-shadow: #666 0px 2px 3px;
}

.menu-rsp nav ul {
    float: left;
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 2;
    background: #fff;
    padding: 0;
}

.menu-rsp nav li {
    position: relative;
    list-style: none;
    float: left;
    border: none;
    width: 100%;
    height: auto;
    border-top: 1px solid transparent;
}

.menu-rsp nav > ul > li:first-child {
    border-top: none;
}

.menu-rsp nav a {
    line-height: normal;    
    height: auto;
    color: #000;
    font-size: 16px;
    float: left;  
    width: 100%;
    padding: 17px 15px 15px 15px;
}

.menu-rsp nav a:hover {
    background-color: #b41b1e;
    color: #fff;
}

.menu-rsp nav ul .li-submenu > a {
    padding-right: 53px;
}

.btn-slide-down {
    width: 40px;
    height: 100%;
    background: #fff;
    border-left: 1px solid transparent;
    position: absolute;
    top: 0;
    font-size: 14px;
    text-align: center;
    color: #000;
    right: 0;
    z-index: 2;
    display: none !important;
    line-height: 52px;
    cursor: pointer;
}

.menu-rsp nav ul ul {
    display: none;
    color: #fff;
}

.btn-slide-down, .menu-rsp nav li {
    border-color: #dfdfdf;
}

.menu-rsp nav ul ul {
    background: #f4f4f4;
}

.menu-rsp nav ul ul ul ul {
    background: #fff;
}

.menu-rsp nav ul ul a {
    padding-left: 30px;
}

.menu-rsp nav ul ul ul a {
    padding-left: 45px;
}

/* *** NOWOŚCI / WSPARCIE *** */

.z-content-box-1 {
    text-align: center;
    padding: 35px 0;
}

.z-content-box-2 {
    background: #FEEEEF;
    padding: 50px 0;
    position: relative;
}

.z-content-box-2 figure {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: center center;
}

.z-content-box-2 .description {
    display: table-cell;
vertical-align: middle;

    height:441px;


    padding-right: 0px;
}

.z-content-box-2 .description .flex-box {
    width: 50%;
    padding-right: 30px;
}

.z-content-box-2 h2 {
    font-size: 40px;
    margin: 0;
}

.z-content-box-2 h2:after {
    width: 145px;
    height: 4px;
    background: #e1000f;
    content: "";
    display: block;
    margin: 30px 0 0 0;    
}

.z-content-box-2 .txt {
    margin-top: 38px;
}

.z-content-box-3 {
    text-align: center;
    padding: 23px 0 33px 0;
}

.btn-1 {
    display: inline-block;
    color: #000;
    width: 40px;
    height: 40px;
    background: url('../img/icons/img05.png') center top no-repeat;
}

.btn-1:hover {
    opacity: 0.8;
}

.nav-tabs-1 {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 60px;
    margin-top: 30px;
}

.nav-tabs-1:after {
    background: #E1000F;
    width: 3000px;
    left: 50%;
    margin-left: -1500px;
    position: absolute;
    bottom: 0;
    content: "";
    z-index: 2;
    height: 2px;
    display: block;
}

.nav-tabs-1 ul {
    float: left;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-tabs-1 li {
    float: left;
    width: 50%;
}

.nav-tabs-1 a {
    display: block;
    color: #fff;
    text-align: center;
    position: relative;
    height: 74px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 83px;
    font-size: 24px;
    z-index: 3;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;   
	background: #E1000F;
}

.nav-tabs-1 .current a {
    background: #fff;
    border-color: #E1000F;
    font-weight: bold;
	  color: #000;
	
}
.nav-tabs-1 .current a img{
	display:none;
	
}
.nav-tabs-1 a:hover {
    /*font-weight: bold;*/
	background: #E1000F;
	   color: #fff;
}

.cont-boxes {
    float: left;
    width: 100%;
}

.cont-box {
    float: left;
    width: 100%;
}

.z-box-1 {
    float: left;
    width: 100%;
}

.z-box-1 figure {
    float: left;
    width: 570px;
    MARGIN: 0;
}

.z-box-1 .description {
    padding-left: 50px;
    width: calc(100% - 570px);
    float: left;
}

.z-box-1 .name {
    font-size: 28px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.z-box-1 .txt {
    margin-bottom: 50px;
}

.btn-2 {
    display: inline-block;
    height: 51px;
    background: #E1000F;
    border: 2px solid #E1000F;
    color: #fff !important;
    font-size: 20px;
    font-weight: bold;
    line-height: 58px;
    padding: 0 30px;
}

.btn-2 span {
    display: block;
    padding-right: 34px;
    background: url('../img/icons/img06.png') right 20px no-repeat;
}

.btn-2:hover {
    opacity: 0.8;
}

.s-content-box-1 {
    display: none;
}

.btn-2.active {
    background: #fff;
    color: #E1000F !important;
}

.btn-2.active span {
    background: url('../img/icons/img07.png') right 19px no-repeat;
}

.font-color-white {
    color: #fff;
}

.z-box-1 .name:after {
    width: 170px;
    height: 2px;
    background: #000;
    content: "";
    display: block;
    margin: 5px 0 0 0;
}

.s-title {
    text-transform: uppercase;
}

.z-box-1-1 .description {
    padding-right: 50px;
    padding-left: 0;
}

.s-box-3 span {
    font-weight: normal;
    display: block;
}

.z-box-1 {
    border-bottom: 2px solid #c9c3c3;
    margin-bottom: 60px;
    padding-bottom: 58px;
}

.z-boxes-1 .z-box-1:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}

.s-content-box-1 {
    float: left;
    width: 100%;
    padding-top: 45px;
}

.s-box-1 {
    text-align: center;
    width: 770px;
    max-width: 100%;
    margin: 0 auto;
}

.s-box-1 .text p:last-child {
    margin-bottom: 0;
}

.s-title {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}

.s-title:after {
    width: 162px;
    height: 2px;
    background: #000;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 35px;
    content: "";
}

.s-boxes-3 .col-box {
    width: 33.3333%;
    float: left;
}

.s-box-3 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    width: 300px;
    padding: 0 15px;
    line-height: 1.3;
    margin: 0 auto;
    max-width: 100%;
}

.s-box-3 .image {
    margin-bottom: 25px;
}

.z-content-box-2 figure {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cont-box {
    float: left;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.cont-box.active {
    height: auto;
}

.x-boxes-1 {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.x-boxes-1 .row-box {
    margin-left: -22px;
    margin-right: -22px;
}

.x-boxes-1 .col-box {
    display: inline-block;
    vertical-align: top;
    width: 382px;
    padding: 0 10px;
}

.x-box-1 {
    height: 460px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin-bottom: 24px;
    color: #707070;
    font-weight: bold;
    line-height: 1.3;
    overflow: hidden;
}

.x-box-1 a {
    color: #E1000F; 
}

.x-box-1 a:hover {
    color: #E1000F;
    opacity: 0.8;
}

.x-box-1 .name {
    font-weight: bold;
    color: #E1000F;
    padding-top: 13px;
    margin: 10px 0;
    font-size: 28px;
    line-height: 1.2;
    text-transform: uppercase;
}

.x-boxes-1-1 .x-box-1 {
    height: 206px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.x-boxes-1-1 .x-box-1 .name {
    margin-top: 0;
    padding-top: 3px;
}
header .home {
	float: right;
    margin-top: 15px;
    margin-left: 20px;
}
/* *** RWD *** */

@media only screen and (max-width: 1500px) {
    .z-content-box-2 {
  
    padding: 15px 0;
    }
    .z-content-box-2 h2 {
        font-size: 35px;
    }
    .z-content-box-2 .description {
        height: 353px;
    }
    .menu-box {
        width: 300px;
        right: -300px;
    }
    .main-menu > ul > li > a {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 30px;
    }
}

@media only screen and (max-width: 1199px) {
    .z-content-box-2 .description .flex-box {
        padding-right: 30px;
    }
    .z-content-box-2 h2 {
        font-size: 30px;
    }
    .z-box-1 figure {
        width: 50%;
    }
    .z-box-1 .description {
        width: 50%;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media only screen and (min-width: 992px) {
    .menu-rsp {
        display: none !important;
    }
}

@media only screen and (max-width: 992px) {
    .main-menu > ul > li > a {
        font-size: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 3px;
    }
    .menu-box {
        width: 250px;
    }
    .menu-box {
        padding-top: 68px;
    }
    body {
        padding-top: 70px;
    }
    header {
        height: 70px;
    }
    .search-box {
        width: 100%;
    }
    .header-right-box {
        width: 100%;
    }
    .search {
        width: 100%;
    }
    header .langs-box {
        display: none;
    }
    .banner-full-screen {
        height: calc(100% - 72px);
    }
    .hamburger {
        margin-top: -12px;
    }
    header .logo {
        margin-top: -14px;
		max-width: 300px;
    }
	header .home {
    margin-top: 0px;
}
}

@media only screen and (max-width: 768px) {
    .z-content-box-2 figure img {
        display: block;
    }
	header .logo {
		max-width: 300px;
	}
    .z-content-box-2 figure {
        background: none !important;
        position: relative;
        height: auto;
        width: 100%;
    }
    .z-content-box-2 .description {
        float: left;
        display: block;
        height: auto;
        padding: 30px 0;
        width: 100%;
    }
    .z-content-box-2 h2 {
        font-size: 22px;
        line-height: 1.4;
    }
    .z-content-box-2 {
        padding: 0;
    }
    .nav-tabs-1 a {
        display: flex;
        line-height: normal;
        font-size: 16px;
        line-height: 1.3;
        padding-top: 3px;
        align-items: center;
        justify-content: center;
    }
	.boxes-1 .col-box2 {
		display:none;
	}
    .title-1 h1 {
        font-size: 25px;
    }
    .scroll-top {
        font-size: 16px;
    }
    .controls-1 {
        display: none;
    }
    .boxes-1 .col-box {
        width: 50%;
    }
    .z-box-1 figure {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .z-box-1 .name:after {
        margin-left: auto;
        margin-right: auto;
    }
    .s-boxes-3 .col-box {
        width: 100%;
        margin-bottom: 40px;
    }
    .s-boxes-3 .col-box:last-child {
        margin-bottom: 0;
    }
    .z-box-1 {
        text-align: center;
        padding-top: 280px;
        position: relative;
    }
    .z-box-1 figure img {
        height: 224px;
    }
    .z-box-1 .description {
        width: 100%;
        float: left;
        padding: 0;
    }
    .btn-2 {
        font-size: 18px;
    }
    .s-title, .z-box-1 .name {
        font-size: 22px;
    }
    .z-content-box-1 {
        padding: 15px 0;
    }
    .z-content-box-1 img {
        max-height: 40px;
    }
    .x-boxes-1 .col-box {
        width: 100%;
    }
    .x-boxes-1 .row-box {
        margin: 0;
    }
    .x-box-1 {
        height: auto;
    }
}

@media only screen and (max-width: 576px) {
   
}

/* *** 01.04 *** */

.s-boxes-3-1 .col-box {
    width: 25%;
}

.s-boxes-3-1 .col-box span {
    display: inline;
}


@media only screen and (max-width: 767px) {
        .z-content-box-2 .description .flex-box {
        padding-right: 0px;
        width: 100%;
    }
    .z-content-box-2 .description {
        min-height: 10px;
    }
}

.x-legend {
    font-size: 14px;
}

header .home {
position: absolute;
    top: 8px;
    right: 77px;
    margin: 0;
}

header .container {
position: relative;
}

header .logo {
margin-top: 5px;
}

@media only screen and (max-width: 992px) {
header .logo {
margin-top: 0;
}
header .home {
width: 30px;
top: 2px;
}
header .home {
    width: 30px;
}
}

@media only screen and (max-width: 767px) {
header .logo {
    margin-top: 8px;
    width: 135px;
}
}


.s-box-1-1 {
    width: 100%;
}

.s-box-1-1 p {
    width: 770px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.s-box-1-1 p.img-1 {
    width: 100%;
}

.ss-boxes-3 {
    text-align: center;
}

.ss-boxes-3 .col-box {
    float: none;
    display: inline-block;
    vertical-align: top;
}

/* *** 28.09 *** */

.s-box-3 .s-txt-1 {
    font-weight: normal;
}

.s-box-3 .s-txt-2 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: normal;
}